@import 'variables'

html,
body
  font-family: $font_sans
  font-size: 14px
  @media (min-width: 601px)
    // font-size: clamp(16px, 1vw, 1vw)
    font-size: 18px

h1
  font-size: 3.5rem
h2
  font-size: 2.5rem
h3
  font-size: 1.5rem

body
  background: $blue
  padding-bottom: 2.5em

h1,
h2,
h3,
h4,
h5,
p,
a
  color: white
