@import url("https://fonts.googleapis.com/css2?family=Poppins");
html,
body {
  font-family: sans-serif;
  font-size: 14px;
}
@media (min-width: 601px) {
  html,
body {
    font-size: 18px;
  }
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  overflow-x: hidden;
  background: #2d3e86;
  padding-bottom: 2.5em;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: white;
}